<!DOCTYPE html>
<html>
<head>
	<title>Madlib</title>
<link href="css/hPage.css" rel="stylesheet" type="text/css">
<ul id="nav"> 
<li><a href="https://user.tjhsst.edu/2023mli1/" class="hbutton">Home</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/mlib" class="menuoption">Madlib</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/0" class="menuoption">NumFacts</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/weatherForm" class="menuoption">WeatherForm</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/votes" class="menuoption">Votes</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/cclicker" class="menuoption">Cookie Clicker</a></li>
<li><a href="https://user.tjhsst.edu/2023mli1/fools" class="menuoption">lofi</a></li>
</ul>
	<style type="text/css">
	#container_1 {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		border: 2px solid #dedede;
		padding: 5px;
	}
	img {
		float: right;
		margin-left:15px;
	}
	</style>

</head>
<body>
	<div id="container_1">
		<h3>Some Fantastic Story</h3>

		<p><img src="./img/{{imag}}.jpg" class="stillimg" alt="animal">	
			Once upon a time there was this person named {{name}}. {{name}}'s best friend is called {{friend}} . One day, in {{place}}, they decided to go play games.<br>
			Both of them and their pet {{imag}} went to the nearby arcade to play games. During that time, {{name}} got a new high score on pac-man.<br>
			Afterwards, both of them decided to go eat some {{food}}. Then they went home.<br>
			a picture of their pet -->
		</p>

		<p>Notice in the source of this page there's a little empty div that has style="clear: both;". This is a little trick that allows the div with id="container_1" to wrap around the image</p>
		<div style="clear: both;"></div> 

	</div>

</body>
</html>